@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h3 {
  text-align: center;
  margin: 40px;
  display: none;
}

section {
  margin-bottom: 80px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #00d2ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00d2ff, #928dab);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00d2ff, #928dab);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper {
  width: 456px;
  height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.top {
  height: 167px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.dir-column {
  flex-direction: column;
}

.light-bg, input[type=radio] {
  background-color: #eeeeee;
}

.dark-bg {
  background-color: #303030;
}

.column {
  display: inline;
  float: left;
}

.row {
  display: flex;
  justify-content: space-evenly;
  min-height: 20px;
  width: 100%;
}

.indicator {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  text-align: center;
  color: rgba(0, 0, 0, 0.537591);
}

.indicator-dark {
  color: rgba(255, 255, 255, 0.7);
}

button:hover {
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  background: none;
}

.btn-add, .btn-add-dark, .btn-add-dark-raised, .btn-raised {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #009688;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.24);
}

.btn-raised, .btn-add-dark-raised {
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12), 0px 14px 14px rgba(0, 0, 0, 0.237602);
}

.btn-add-dark, .btn-add-dark-raised {
  background-color: #80CBC4;
}

.btn-normal, .btn-normal-dark:disabled, .btn-normal-dark, .btn-pressed, .btn-pressed-dark, .btn-normal-raised, .btn-pressed-raised-dark, .btn-normal-raised-dark, .btn-normal-raised-dark:disabled, .btn-pressed-raised {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.0357143em;
  padding: 10px 15px 10px 15px;
  color: #009688;
  text-transform: uppercase;
}

.btn-normal-raised, .btn-pressed-raised-dark, .btn-normal-raised-dark, .btn-normal-raised-dark:disabled, .btn-pressed-raised, .btn-pressed, .btn-pressed-dark {
  color: white;
  text-transform: uppercase;
  background-color: #009688;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  font-weight: 500;
}

.btn-pressed, .btn-pressed-dark {
  box-shadow: none;
  background: linear-gradient(0deg, rgba(153, 153, 153, 0.2), rgba(153, 153, 153, 0.2));
  border-radius: 2px;
  color: #009688;
}

.btn-pressed-raised {
  background-color: #39A298;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12), 0px 14px 14px rgba(0, 0, 0, 0.237602);
}

.btn-normal:disabled, .btn-normal-dark:disabled, .btn-normal-raised:disabled, .btn-pressed-raised-dark:disabled, .btn-normal-raised-dark:disabled, .btn-pressed:disabled, .btn-pressed-dark:disabled, .btn-pressed-raised:disabled {
  background-color: none;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.38);
}

.btn-normal-raised:disabled, .btn-pressed-raised-dark:disabled, .btn-normal-raised-dark:disabled, .btn-pressed:disabled, .btn-pressed-dark:disabled, .btn-pressed-raised:disabled {
  background: linear-gradient(0deg, rgba(79, 79, 79, 0.26), rgba(79, 79, 79, 0.26));
  border-radius: 2px;
}

.btn-normal-dark {
  color: #80CBC4;
}

.btn-normal-raised-dark, .btn-normal-raised-dark:disabled {
  background-color: #92CBC5;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  color: rgba(0, 0, 0, 0.871943);
}

.btn-pressed-dark {
  color: #80CBC4;
}

.btn-pressed-raised-dark {
  background-color: #92CBC5;
  color: rgba(0, 0, 0, 0.871943);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.24);
}

.btn-normal-dark:disabled {
  color: rgba(255, 255, 255, 0.3);
}

.btn-normal-raised-dark:disabled {
  background-color: #303030;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}

/** Switches and sliders **/
.lbg, input[type=checkbox] {
  background-color: #009688;
}

.dbg {
  background-color: #80CBC4;
}

input[type=checkbox] {
  width: 24px;
  height: 24px;
}

input[type=radio] {
  width: 24px;
  height: 24px;
}

/*# sourceMappingURL=buttons.css.map */
