
/** ::: VARIABLES ::: **/
$top-header-bg: #F2F4F6;
$link-inactive: #5C6163;
$link-active: #38A4DC;
$main-bg: #FFF;

/** ::: GLOBAL ::: **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $main-bg;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $link-active;
}
.link {
    color: $link-active;
    &--inactive {
        color: $link-inactive;
    }
    &:hover {
        cursor: pointer;
    }
}
section {
    padding: 0px 135px 0px 135px;
    width: 100%;
}
.btn--fancy {
    background: linear-gradient(225deg, #FDD6BD 0%, #F794A4 100%);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 20px 40px 20px 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
    border: none;
    outline: none;
    text-align: center;
}
.btn--fancy:hover {
    cursor: pointer;
}

/** ::: GLOBAL END ::: **/


/** ::: TOP HEADER START ::: **/
.top-header {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: $top-header-bg;
    padding: 0 135px 0 135px;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__languages {
        &__list {
            &__item {
                list-style: none;
                display: inline;
                margin-right: 30px;
            }
        }
    }

    &__destinations {
        display: inline-block;

        &__list {
            display: inline;
            &__target {
                list-style: none;
                display: inline;
                margin-left: 30px;
            }
        }
    }
}
/** ::: TOP HEADER END ::: **/

/** ::: HEADER START ::: **/
.header {
    position: relative;
    width: 100%;
    height: 100px;
    z-index: -1;
    padding: 0 135px 0 135px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);

    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__navbar {
        &__links {
            li {
                display: inline;
                list-style: none;
                margin: 0px 15px 0 15px;
            }

            .active {
                padding: 10px 10px 12px 10px;
                background: #49BCF7;
                box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
                border-radius: 5px;
                a {
                    color: white !important;
                }
            }
        }
    }

    &__contact-info {
        &__icon {
            width: 20px;
            height: 20px;
            font-size: 20px;
        }
    }
}
/** ::: HEADER END ::: **/

/** ::: HERO START ::: **/
.hero {
    width: 100%;
    height: 700px;
    background-image: url('../images/hero-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 85px 0px 0px 0px !important;

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        /* identical to box height */

        text-align: center;

        color: #FFFFFF;
    }

    &__button {
        margin-top: 60px;
    }

}
/** ::: HERO END ::: **/

/** ::: DISCOVER START ::: **/
.discover {
    padding: 165px 0px 165px 0px;
    height: 100%;

    &__title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
        /* or 117% */

        text-align: center;

        color: #24282A;
    }
    &__sub-title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 56px;
        /* or 117% */

        text-align: center;

        color: #939FA4;
    }

    &__gallery {
        width: 1170px;
        margin: 0 auto;
        margin-top: 90px;
        
        .row > div {
            margin-top: 30px;
        }

        &__item {

            background-size: cover;
            background-repeat: no-repeat;

            &--1 {
                width: 770px;
                height: 550px;
                background: linear-gradient(180deg, rgba(36, 40, 42, 0.0001) 0%, #16191B 100%), url('../images/gallery-item-1.png');
            }
            &--2 {
                width: 370px;
                height: 550px;
                background-image: url('../images/gallery-item-2.png');
            }
            &--3 {
                width: 370px;
                height: 370px;
                background-image: url('../images/gallery-item-3.png');
            }
            &--4 {
                width: 370px;
                height: 370px;
                background-image: url('../images/gallery-item-4.png');
            }
            &--5 {
                width: 370px;
                height: 370px;
                background-image: url('../images/gallery-item-5.png');
            }
        }
    }
}

/** ::: DISCOVER END ::: **/

.offers {
    background-color: #F2F4F6;
    height: 100%;
    padding-top: 165px;
    padding-bottom: 165px;

    &__title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
        /* identical to box height, or 117% */
        text-align: left;
        float: left;


        color: #24282A;
        &--thin {
            font-weight: 300;
            color: #939FA4;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        margin-top: 80px;
        width: 100%;
    }
}
.offer-item {
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__image {
        width: 170px;
        height: 100px;
        margin-right: 30px;
        border-radius: 4px;
    }
    &__info {
        font-family: 'Roboto', sans-serif;
        font-style: normal;

        &__title {
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            color: #24282A;
        }
        &__text {
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #A7B0B4;
        }
    }
    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
